
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/static/bootstrap/dist/css/bootstrap.min.css' />
    <script type='text/javascript' src='/static/jquery/dist/jquery-min.js'></script>
    <script type='text/javascript' src='/static/bootstrap/dist/js/bootstrap.min.js'></script>
  </head>