<!DOCTYPE html>
<html>
    <% include header.ejs %>
    <body>
        <div class="well jumbotron">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
            <div class="body">Where is bootstrap</div>
            <div class="footer">
                <% include footer.ejs %>
            </div>
        </div>
    </body>
</html>
