<!DOCTYPE html>
<html>
    <% include header.ejs %>
    <body>
        <div class="container-fluid well">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
            <div>
                <p><a href="http://v3.bootcss.com/css/" target="_blank">http://v3.bootcss.com/css/</a></p>
                <button class="btn btn-default">Where is bootstrap?</button>
            </div>
            <div>
                <kbd>Ctrl</kbd>+<kbd>W</kbd>
            </div>
            <div class="footer">
                <% include footer.ejs %>
            </div>
        </div>
    </body>
</html>
